@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MinTwitterApp</h1>
    <p>
        <a asp-controller="Auth" asp-action="Login" class="btn btn-link">ログインページへ</a>
    </p>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <form asp-controller="Auth" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-primary">ログアウト</button>
        </form>
    }
</div>
