@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MinTwitterApp</h1>
    <p>
        <a asp-controller="Auth" asp-action="Register" class="btn btn-link">会員登録ページへ</a>
    </p>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <a href="http://localhost:5054/CreatePost" class="btn btn-link">投稿一覧へ</a>
    }

</div>
