@model MinTwitterApp.DTO.PostCreateDTO

@{
    ViewData["Title"] = "新規投稿";
}
<h2>NewPost</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Content" class="control-label">内容</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ImageFile">画像をアップロード</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">投稿</button>
</form>

<hr>

<h3>Posts</h3>

@if (Model.Posts != null && Model.Posts.Any())
{
    <ul class="list-group">
        @foreach (var post in Model.Posts)
        {
            <li class="list-group-item">
                <h6>@post.CreatedAt.ToString("yyyy/MM/dd HH:mm")</h6>
                @post.Content
            </li>
            @if (!string.IsNullOrEmpty(post.ImagePath))
            {
                <a href="@post.ImagePath" target="_blank">
                    <img src="@post.ImagePath" class="post-image">
                </a>
            }
        }
    </ul>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
